log_level                :info
log_location             STDOUT
node_name                "admin"
client_key               "#{current_dir}/chef_admin.pem"
validation_client_name   "bean"
validation_key           "#{current_dir}/bean-validator.pem"
chef_server_url          "https://ip-172-31-62-234.ec2.internal/organizations/bean"
syntax_check_cache_path  "#{ENV['HOME']}/.chef/syntaxcache"
cookbook_path            ["#{current_dir}/../cookbooks"]

